@font-face {
  font-family: 'AbelTest';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Abel-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.main {
  position: relative;
}

.main .uk-overlay-primary {
  background-color: #1c1e3b88;
}

.main .cont {
  text-align: right;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.main .cont h1 {
  font-size: 4em;
  font-weight: 700;
}

.main .cont p {
  font-size: 1.1em;
}

@media (max-width: 1000px) {
  .main .cont {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

@media (max-width: 680px) {
  .main .cont {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}
/*# sourceMappingURL=about.css.map */