

#changepass{
    background-color: #1c1e3b;
    color: white;
    margin: 5px 0;
    border: 1px solid #1c1e3b;
}
#changepass:hover{
     color: #1c1e3b;
     background-color: white;
}

.uk-input{
    margin: 5px 0;
}

#oldpass:focus,
#newpass:focus,
#newpassconf:focus{
    border-color: #1c1e3b;
}