footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 7fr 3fr;
        grid-template-columns: 3fr 7fr 3fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 10px;
    background-color: #fff;
    border-top: 1px solid #1c1e3b;
  }
  
  footer .links a {
    padding: 3px 20px;
    text-decoration: none;
    color: #686868;
    -webkit-transition: border-bottom-color 0.2s;
    transition: border-bottom-color 0.2s;
    border-bottom: 2px solid transparent;
  }
  
  footer .links a:hover {
    -webkit-transition: border-bottom-color 0.2s;
    transition: border-bottom-color 0.2s;
    border-bottom: 2px solid #686868;
  }
  
  footer form {
    margin: 20px 0px;
    padding: 10px 0px;
    background-color: #fff;
    border: 0;
  }
  
  footer form input {
    border: 1px solid #1c1e3b;
  }
  
  footer form input, footer form input::-webkit-input-placeholder {
    color: #1c1e3b;
    font-size: 1.1em;
  }
  
  footer form input, footer form input:-ms-input-placeholder {
    color: #1c1e3b;
    font-size: 1.1em;
  }
  
  footer form input, footer form input::-ms-input-placeholder {
    color: #1c1e3b;
    font-size: 1.1em;
  }
  
  footer form input, footer form input::placeholder {
    color: #1c1e3b;
    font-size: 1.1em;
  }
  
  footer form input[type="submit"] {
    background-color: #1c1e3b;
    padding: 15px 80px;
    color: white;
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
    border-left: 0.5px solid #1c1e3b;
  }
  
  footer form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #1c1e3b;
  }
  
  footer form input[type="text"] {
    padding: 15px 20px 15px 10px;
  }
  
  footer #instagram {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  
  footer #instagram a {
    text-decoration: none;
    color: #1c1e3b;
  }
  
  footer p {
    margin: 30px !important;
  }
  
  @media (max-width: 860px) {
    footer {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      padding: 2rem 10px;
    }
    footer form {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
    }
    footer form input[type="submit"] {
      padding: 10px;
    }
    footer .links {
      margin: 15px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }
    footer #instagram {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }
    footer p {
      -webkit-box-ordinal-group: 101;
          -ms-flex-order: 100;
              order: 100;
    }
  }
  /*# sourceMappingURL=home.css.map */