.uk-container{
  border: 0 !important;
}

.uk-container .productInfos .productImage {
  text-align: center;
}

.uk-container .productInfos .productPrice h2 span {
  font-size: 0.6em;
}

.uk-container .productInfos .productPrice h4 {
  display: inline;
}

.uk-container .productInfos .productPrice ul {
  display: inline;
}

.uk-container .productInfos .productPrice ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 15px;
}

.uk-container .productInfos .productPrice ul li a {
  text-decoration: none;
  color: black;
}

.uk-container .productInfos .productPrice input {
  border: 1px solid;
  color: white;
  margin: 20px 0px;
  padding: 18px 70px;
  font-size: 1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.uk-container .productInfos .productPrice input:hover {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: whitesmoke;
  color: #1c1e3b;
  margin: 20px 0px;
  padding: 18px 70px;
  font-size: 1em;
}

.uk-container .productInfos .productPrice p {
  padding: 20px 0px;
  line-height: 1.5em;
}

@media (max-width: 860px) {
  .uk-container .products {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .uk-container .productImage {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
}

.uk-container .categories ul li {
  list-style-type: none;
  display: inline-block;
  /* margin-bottom: 0px; */
}

.uk-container .categories ul li a {
  color: #1c1e3b;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  padding-bottom: 3px !important;
  -webkit-transition: border-bottom-color 0.2s;
  transition: border-bottom-color 0.2s;
  border-bottom: 2px solid transparent;
}

.uk-container .categories ul li a:hover {
  border-bottom: 2px solid #1c1e3b;
}

.uk-container .categories ul li a#currentCategory {
  border-bottom: 2px solid #1c1e3b;
  font-weight: 700;
}

.uk-container .products {
  margin-bottom: 100px;
  border: 0;
}

.uk-container .products .product {
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.uk-container .products .product h1 {
  z-index: 2;
  position: absolute;
  color: white;
}
.uk-container .products .product img{
  transform: scale(0.8, 0.8);
}
.uk-container .products .product .color-overlay {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.692);
  height: 120%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  opacity: 0;
}

.uk-container .products .product .color-overlay h5 {
  color: #1c1e3b;
  font-weight: 600;
}

.uk-container .products .product .color-overlay .sizes {
  display: block;
}

.uk-container .products .product .color-overlay .sizes span {
  padding: 0px 8px;
}

.uk-container .products .product .color-overlay .sizes .available {
  color: black;
}

.uk-container .products .product .color-overlay .sizes .unavailable {
  color: #898989;
}

.pagination ul {
  margin-bottom: 40px;
}

.pagination ul li {
  list-style-type: none;
  display: inline-block;
}

.pagination ul li a {
  font-size: 1.2em;
  margin: 0px 20px;
  padding: 10px 0px;
  color: #1c1e3b;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.1s;
  transition: border-bottom 0.1s;
}

.pagination ul li a:hover {
  border-bottom: 2px solid #1c1e3b;
}

.pagination ul li a#currentPage{
  border-bottom: 2px solid #101122;
  color: #101122;
  font-weight: 700;
}

@media (max-width: 860px) {
  .uk-container .products {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
            
  }
}

