.registerForm {
  margin: 50px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.registerForm form {
  margin: 0px 10px;
}

.registerForm form input, .registerForm form select {
  margin: 5px 0px;
  color: #1c1e3b;
}

.registerForm form input[type="submit"], .registerForm form select[type="submit"] {
  background-color: #1c1e3b;
  color: white;
  border: 1px solid #1c1e3b;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.registerForm form input[type="submit"]:hover, .registerForm form select[type="submit"]:hover {
  color: #1c1e3b;
  background-color: white;
}

.registerForm form input:focus, .registerForm form select:focus {
  border: 1px solid #E5E5E5;
}
.uk-tab > .uk-active > a{
  border-color: #1c1e3b;
  color: #1c1e3b;
  font-weight: 700;
  font-size: 1.3em;
}
.uk-tab a{
  font-weight: 700;
  font-size: 1.3em;
}

@media (max-width: 1000px) {
  .registerForm {
    margin: 50px auto;
    display: block;
  }
}