@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Abel-Regular.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  * {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: 'Abel', sans-serif !important;
  }
  
  body {
    background-color: whitesmoke !important;
  }
  
  nav {
    background-color: #FFF !important;
    border-bottom: 1px solid;
    padding: 2px 42px;
  }
  
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  nav ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 16px 10px !important;
  }
  
  nav ul li a {
    min-height: 0 !important;
    color: #1c1e3b !important;
    text-decoration: none;
    font-weight: 500 !important;
    font-size: 1.05rem !important;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom-color 0.2s;
    transition: border-bottom-color 0.2s;
  }
  
  nav ul li .logo {
    width: 210px;
  }
  
  nav ul li a:not(:active):hover:not(.logo) {
    -webkit-transition: border-bottom-color 0.2s;
    transition: border-bottom-color 0.2s;
    border-bottom: 2px solid #1c1e3b;
  }
  
  nav ul li a:active {
    color: black;
  }
  
  nav .uk-navbar-left li {
    padding: 0 !important;
  }
  
  nav .uk-navbar-left li a {
    min-height: 0 !important;
    color: #1c1e3b !important;
    text-decoration: none;
    font-weight: 700 !important;
    font-size: 1.7rem !important;
  }
  
  nav .Bag a {
    margin-right: 20px;
    text-decoration: none;
  }
  
  nav .Bag a:hover {
    margin-right: 20px;
  }
  
  nav .uk-navbar-toggle {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    margin: 10px 20px;
  }
  
  #searchModal {
    background-color: rgba(245, 245, 245, 0.95);
  }
  
  #searchModal .uk-modal-dialog {
    background-color: #00000000;
  }
  
  #searchModal button {
    background-color: rgba(245, 245, 245, 0.8);
  }
  
  #searchModal .uk-search {
    border-bottom: 1px solid #1c1e3b;
    width: 100%;
  }
  
  #searchModal .uk-search input {
    color: #1c1e3b;
  }
  
  #searchModal .uk-search input::-webkit-input-placeholder {
    color: #1c1e3b99;
  }
  
  #searchModal .uk-search input:-ms-input-placeholder {
    color: #1c1e3b99;
  }
  
  #searchModal .uk-search input::-ms-input-placeholder {
    color: #1c1e3b99;
  }
  
  #searchModal .uk-search input::placeholder {
    color: #1c1e3b99;
  }
  
  #searchModal .uk-search #searchIcon {
    color: #1c1e3b99;
  }
  
  #searchModal .productModal a {
    text-decoration: none;
    overflow: hidden;
  }
  
  #searchModal .productModal a:hover h5 {
    color: #999;
  }
  
  #searchModal .productModal a:hover img {
    -webkit-transform: scale(1.08, 1.08);
            transform: scale(1.08, 1.08);
  }
  
  #searchModal .productModal img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  #searchModal .productModal h5 {
    color: #1c1e3b;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  
  .followSlider form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    
    padding: 10px 10em;
    background-color: #1c1e3b;
  }
  
  .followSlider #input{
    background-color: #fff; 
    padding: 10px 30px;
    margin: 0px 40px;
  }

  .followSlider input{
    background-color: rgba(255, 255, 255, 0); 
    cursor: pointer;
  }

  .followSlider label{
    color: white;
    font-size: 1.1em;
  }
  .followSlider form label#Greetings{
    margin-right: auto; 
  }
  .followSlider #UserName{
    font-weight: 600;
    margin: 0px 3px;
  }

  .ocButton{
    color: #1c1e3b;
    font-weight: 600;
    font-size: 1.2em;
    transform: translateY(5%) !important;
  }

  .ocButton:hover{
    color: #1c1e3b;
  }

  .uk-offcanvas-bar{
    background-color: #1c1e3b;
  }

  a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
  }

  a:hover{
    color: rgb(228, 228, 228);
    text-decoration: none;
  }
  
  @media (max-width: 860px) {
    .followSlider {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      padding: 2rem 10px;
    }
    
    nav ul li .logo {
      width: 210px;
      transform: translateX(-10%) !important;
    }
  }

/* .followSlider{
  background-color: #1c1e3b !important;
  height: 0px;
  transition: height 0.3s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 7fr 3fr;
      grid-template-columns: 3fr 7fr 3fr;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.followSlider h3{
  color: white;
}

.followSlider .signupform{
  display: flex;
  justify-content: center;
  align-items: center;
}

.followSlider .signupform input[type="submit"]{
  background-color: white;
  padding: 10px 40px;
  color: #1c1e3b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 0.5px solid white;
}

.followSlider .signupform input[type="text"]{
  background-color: #1c1e3b;
  padding: 10px 40px;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 0.5px solid white;
}

.followSlider .signupform input[type="text"]::placeholder{
  color: white;
  font-size: 1.3em;
  padding: 0;
  text-align: left;
  transform: translateX(-25%);
}

.followSlider .signupform h4{
  color: white;
} */