.uk-container{
  border: 0 !important;
}

.uk-container .productInfos .productImage {
  overflow: hidden;
  text-align: center;
}

.uk-container .productInfos .productImage .slidenav {
  background-color: #aac3ea;
}

.uk-container .productInfos .productPrice h2 span {
  font-size: 0.6em;
}

.uk-container .productInfos .productPrice h4 {
  display: inline;
}

.uk-container .productInfos .productPrice ul {
  display: inline;
}

.uk-container .productInfos .productPrice ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 15px;
}

.uk-container .productInfos .productPrice ul li a {
  text-decoration: none;
  color: black;
}

.uk-container .productInfos .productPrice input {
  background-color: #aac3ea;
  border: 1px solid #aac3ea;
  color: white;
  margin: 20px 0px;
  padding: 18px 70px;
  font-size: 1em;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.uk-container .productInfos .productPrice input[disabled] {
  background-color: #7788a3;
  border: 1px solid #788aa7;
  color: rgb(235, 235, 235);
  margin: 20px 0px;
  padding: 18px 70px;
  font-size: 1em;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.uk-container .productInfos .productPrice input:not([disabled]):hover {
  cursor: pointer;
  background-color: whitesmoke;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  color: #1c1e3b;
  margin: 20px 0px;
  padding: 18px 70px;
  font-size: 1em;
}

.uk-container .productInfos .productPrice p {
  padding: 20px 0px;
  line-height: 1.5em;
}

.circle{
  height: 35px;
  width: 35px;
  border: 2px solid #1c1e3b;
  border-radius: 50%;
  display: inline-block;
}

.unavailable{
  color: #BBB !important;
  cursor: default;
}

@media (max-width: 1000px) {
  .uk-container .products {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .uk-container .productPrice {
    text-align: center;
  }
  .uk-container .productImage {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
}

