@font-face {
  font-family: 'AbelTest';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Abel-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.mainStore {
  position: relative;
}

.mainStore .uk-overlay-primary {
  background-color: #1c1e3bBB;
}

.mainStore .contStore {
  text-align: right;
}

.mainStore .contStore h1 {
  font-size: 4em;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .mainStore .contStore {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}

@media (max-width: 680px) {
  .mainStore .contStore {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .mainStore .contStore h1 {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .mainStore .contStore p {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
}
/*# sourceMappingURL=store.css.map */